* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(37, 37, 37);
}

.maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border:1px solid ; */
    margin-top: 5%;
    font-family: sans-serif;
    display: none;
}

#start {

    width: auto;
    height: auto;
    padding: 7px;
    border: 1px solid rgb(40, 115, 228);
    border-radius: 5px;
    background-color: rgb(40, 115, 228);
    color: white;
    margin-top: 30px;
    font-size: 23px;
    cursor: pointer;
}

.quizdet {
    /* width: 27%; */
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0 0 2% 0;
    font-family: sans-serif;
    color: rgb(71, 206, 230)
}

.answers {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select {
    width: 50%;
    height: 50px;
    /* padding-left:10%; */
    box-sizing: border-box;
    border: 2px solid #05d9ff;
    margin: 9px 0 9px 0;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    background-color: white;

}

#question {
    font-size: 23px;
    font-family: sans-serif;
    margin: 10px 0;
    color: white
}

#next {
    /* display: none; */
    width: 6%;
    /* height: 26px; */
    font-size: 20px;
    text-align: center;
    height: auto;
    background-color: #05d9ff;
    border: 1px solid #05d9ff;
    border-radius: 4px;
    padding: 4px;
    display: none;
    cursor: pointer;
    /* color:rgb(255, 94, 94) */

}

.nextdiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.congratulations {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 12px 7px #7e8485;
    font-size: 30px;
    padding: 46px;
    color: rgb(27, 243, 38);
    margin: 10% 0 0 37%;
    border-radius: 10px;
    font-family: sans-serif;
    display: none;

}

.mystart {
    display: flex;
    flex-direction: column;
    /* background-color: #05d9ff; */
    color: #05d9ff
}

#correctanswer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    color: white
}

.innerscore {
    color: rgb(27, 243, 38);
    padding: 0 6px
}

#seconds {
    color: white;
    color: 
    rgb(228, 63, 63)
}
#restart{
    display: none;
}